<div class="jumbotron">
    <h1>Server Info Project</h1>
    <p class="lead">Do all your hosting at Centurylink cloud servers</p>
    <p><a href="http://Centurylinkcloud.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

